[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
smart-open = "*"
dask = {extras = ["complete"]}
opencv-python = "==3.4.0.12"
boto = "*"
lxml = "*"
"bs4" = "*"
numpy = "*"
"boto3" = "*"
docopt = "*"
six = "*"
jsonlines = "*"
deprecated = "*"
"e1839a8" = {path = ".", editable = true}
"s3fs" = "*"
pycas = {git = "https://github.com/dkpro/dkpro-pycas.git", editable = true}

[dev-packages]
jupyter = "*"
ipython = "*"
ipdb = "*"
isort = "*"
"flake8" = "*"
bokeh = "*"
pytest = "*"
tox = "*"
graphviz = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
