[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

smart-open = "*"
dask = {extras = ["complete"]}
opencv-python = "==3.4.0.12"
boto = "*"
"bs4" = "*"
numpy = "*"
"boto3" = "*"
docopt = "*"


[dev-packages]

jupyter = "*"
ipython = "*"
ipdb = "*"
isort = "*"
"flake8" = "*"
bokeh = "*"
pytest = "*"
